<aside>

  <div class="widget">
    <h3>Iniciar Sesión</h3>
    <form>
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Entrar">
    </form>
  </div>

  <div class="widget">
    <h3>Últimas entradas</h3>
    <ul>
      <li>
        <a href="#"> HTML no es un lenguaje de programación</a>
      </li>

      <li>
        <a href="#"> Hacer un Slider con HTML y CSS</a>
      </li>

      <li>
        <a href="#"> Python VS Java la gran rivalidad</a>
      </li>

      <li>
        <a href="#"> ¿Que son los sistemas distribuidos?</a>
      </li>

      <li>
        <a href="#"> Algoritmos de optimización</a>
      </li>
    </ul>
  </div>

  <div class="widget">
    <h3>Frase del día</h3>
    <blockquote>
      La mejor manera de aprender es poner en práctica aquello que crees que sabes
    </blockquote>
  </div>

</aside>