<nav id="main_menu">
  <ul>

    <li>
      <a href="index.html">Inicio</a>
    </li>

    <li>
      <a href="#">Noticias</a>
    </li>

    <li>
      <a href="#">Blog</a>
    </li>

    <li>
      <a href="#">Academia</a>
      <ul>
        <li>
          <a href="#"> Programación Python</a>
        </li>
        <li>
          <a href="#"> Programación Java</a>
        </li>
        <li>
          <a href="#"> Programación C</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#">Contacto</a>
    </li>

  </ul>
</nav>